
<!DOCTYPE html>
<html>
    
    <style>

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Playfair Display', serif;
    display: grid;
    background-color: #1a1a6f;
    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */

    align-content: center;
    min-height: 100vh;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    width: 75vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px
}
.image{
    padding-top: 10%;
    background-color: #000036;
    display: flex;
    border-radius: 12px 0 0 12px;
}
.image img{
    padding: 2%;
    height:50vh;
    margin:70px auto;
}
.content{
    background-color: #000036;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0  12px 12px 0;
    color: #fff;
}
.content h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content span{
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}
.content p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.8;
    width: 30vw;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    color:#ffffff
}
.icons{
    color: white;
    display: flex;
    padding: 15px 0;
}
.icons li{
    display: block;
    padding: 5px;
    margin: 5px;
}
.icons li i{
    font-size: 25px;
    opacity: 0.8;
}
.icons li i:hover{
    font-size: 30px;
    color: #11ff04 ;
    cursor: pointer;
}


/*****************/

@media(max-width: 900px){
    section{
        grid-template-columns: 1fr;
        width: 100%;
        border-radius: none;
    }
    .image{
        height: 100vh;
        border-radius: none;
    }
    .content{
        height: 100vh;
        border-radius: none;
    }
    .content h2{
        font-size: 20px;
        margin-top: 50px;
    }
    .content span{
        margin: 20px 0;
    }
    .content p{
        font-size: 14px;
    }
    .links li a{
        font-size: 14px;
    }
    .links{
        margin: 5px 0;
    }
    .links li{
        padding: 6px 10px;
    }
    .icons li i{
        font-size: 15px;
    }
}
.credit{
    text-align: center;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .credit a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
  } 


    </style>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us card || EasyBid</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" type="image/x-icon" href="../public/images/other/logo2.png" />
        <script src="https://cdn.jsdelivr.net/npm/web3@1.5.3/dist/web3.min.js"></script>
        <script>
//             const web3Instance = new Web3(new Web3.providers.HttpProvider('https://sepolia.infura.io/v3/4dcaa0d75ca2441ca8b6d0f5ae3ec3fe'));

// // Get the user's Ethereum address from Metamask
// const userAddress = web3Instance.eth.accounts[0];
// console.log("address",userAddress)


        </script>
    </head>
    <body>
        <section>
            <div class = "image">
               <img src="../public/images/other/logo2.png">
            </div>

            <div class = "content">
                <br>
                <h2>About Us</h2>
                <p>============================</p>
                <p>EasyBid is a convenient and easy-to-use online auction marketplace for government agencies, schools, authorities and utilities to buy and sell their surplus and forfeitures directly to the public. All auctions take place online and are available to bid 24 hours a day.
                    There is always a great deal to be found on EasyBid. With many of auctions closing daily, starting from Rs.1 to .. , no reserve, our bidders are guaranteed to have a great time!
                    We have many categories on site such as unique items, including art, antiques, collectibles, apparel, jewelry, electronics, Historic Documentation and many more.</p>
                <p>============================</p>
                <ul class = "icons">
                    <li>
                        <i class = "fa fa-twitter"></i>
                    </li>
                    <li>
                        <i class = "fa fa-facebook"></i>
                    </li>
                    <li>
                        <i class = "fa fa-github"></i>
                    </li>
                    <li>
                        <i class = "fa fa-pinterest"></i>
                    </li>
                </ul>
            </div>
        </section>
    </body>
<!-- <script>
    // This function detects most providers injected at window.ethereum.
import detectEthereumProvider from '@metamask/detect-provider';

// This returns the provider, or null if it wasn't detected.
const provider = await detectEthereumProvider();

if (provider) {
  // From now on, this should always be true:
  // provider === window.ethereum
  startApp(provider); // initialize your app
  console.log(provider)
} else {
  console.log('Please install MetaMask!');
}

function startApp(provider) {
  // If the provider returned by detectEthereumProvider isn't the same as
  // window.ethereum, something is overwriting it – perhaps another wallet.
  if (provider !== window.ethereum) {
    console.error('Do you have multiple wallets installed?');
  }
  // Access the decentralized web!
}
</script> -->
</html>
