<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> EasyBid || Privacy & Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" lang="en" content="open source x/html and css templates">
    <meta name="author" content="mlp design">
    <meta name="robots" content="index, follow">
</head>

<body>
    <!--start wrapper-->
    <div id="wrapper">

        <!--start body-->
        <div id="body">
            <!--start header-->
            <div id="banner">
                <a href="#"><img class="img_logo" src="../public/images/other/logo3.png" alt=""></a>
                <h1>Privacy & Policy</h1>
                <!-- menu -->
                <label for="show-menu" class="responsive">&#9776;</label>
                <input type="checkbox" id="show-menu" role="button">
                <button class="home" onclick="window.location = '/' ">Home</button>

                <!-- end menu -->
            </div>
          
            <div id="container">

                <!--start content-->
                <div id="content">
                    <!--post item-->
                    <div class="item">
                        <h1>Privacy Policy Of Our Website</h1>
                        <p>This page informs you of our policies regarding the collection, use, and disclosure of
                            personal data when you use our Service and the choices you have associated with that data.
                        </p>
                        <p>We use your data to provide and improve the Service. By using the Service, you agree to the
                            collection and use of information in accordance with this policy.</p>

                        <ul>
                            <p>
                                <li>

                                    The privacy and cookie policy of the EasyBid AUCTION websites and of the companies
                                    linked to EasyBid AUCTION is explained below. EasyBid AUCTION is a limited liability
                                    company under Indian law with its registered office at S. C. Mumbai. This privacy
                                    and cookie policy may be modified, for example due to new functions on the website
                                    that require the processing of personal data. We therefore advise you to check this
                                    privacy and cookie policy regularly. Important changes to this policy will be
                                    announced on our homepage.
                                </li>
                            </p>


                            <ol>
                                <h4>
                                    <li>When does this privacy and cookie policy apply?</li>
                                </h4>
                                <h4>
                                    <li>Who is responsible for the processing of your personal data?
                                    </li>
                                </h4>
                                <h4>
                                    <li>For what purposes do we process your personal data?
                                    </li>
                                </h4>
                                <h4>
                                    <li>Who has access to your personal data?
                                    </li>
                                </h4>
                                <h4>
                                    <li>Which cookies are used by EasyBid AUCTION ?</li>
                                </h4>
                                <h4>
                                    <li>My Account</li>
                                </h4>
                                <h4>
                                    <li>What about links to other websites and social media?
                                    </li>
                                </h4>
                                <h4>
                                    <li>How is your personal data protected?
                                    </li>
                                </h4>
                                <h4>
                                    <li>Who can you contact to exercise your right of access, correction or opposition?
                                    </li>
                                </h4>
                            </ol>

                        </ul>

                        <br>
                        <span>
                            <!-- <h4> -->
                            <p>This version of the privacy and cookie policy was modified on 10 November 2022.
                            </p>
                            <!-- </h4> -->
                        </span>
                        <hr>
                        <br>
                        <ol>
                            <li>
                                <h3>When does this privacy and cookie policy apply?</h3>
                                <p>This privacy and cookie policy is applicable to the processing of personal data
                                    through the websites of EasyBid AUCTION and companies related to EasyBid AUCTION
                                    (notably www.EasyBid-auction.com).
                                </p>
                            </li>

                            <li>
                                <h3>Who is responsible for the processing of your personal data?
                                </h3>
                                <p>EasyBid AUCTION is responsible for the processing of your personal data.
                                </p>
                            </li>

                            <li>
                                <h3>For what purposes do we process your personal data?
                                </h3>
                                <p>To follow up on your requests and to keep you informed

                                    We process your personal data when you ask to subscribe to our newsletter or request
                                    a brochure in order to be kept informed about our activities, projects, offers,
                                    events, public sales, etc. For this purpose, we may process data such as your
                                    surname, first name, address, e-mail address, telephone number, preferred language
                                    and the project or region in which you are interested. This data is processed, as
                                    the case may be, on the basis of your unambiguous consent, on the basis of the
                                    execution EasyBid AUCTION of a contract to which you are party or on the basis of
                                    your request to carry out pre-contractual measures.

                                    To answer your questions and exchange information

                                    If you ask us questions by telephone or e-mail, we will process your personal data
                                    to answer your questions. For this purpose, we may process data such as your name,
                                    company name, position, e-mail address, telephone number, correspondence with
                                    EasyBid AUCTION and any other personal data that you provide us and which may be
                                    relevant to answering your questions. This data is processed as appropriate on the
                                    basis of your request to carry out pre-contractual measures, on the basis of the
                                    execution of a contract to which you are a party or on the basis of EasyBid AUCTION
                                    ’s justified interest in informing you of its activities.

                                    For the technical and functional management of our website

                                    Nous traitons des données à caractère personnel pour le management technique et
                                    fonctionnel de notre site web, pour personnaliser le site web et pour veiller à ce
                                    que le site web soit facile à utiliser. We process personal data for the technical
                                    and functional management of our website, to personalise the website and to ensure
                                    that the website is easy to use. To this end, we may process statistical data, such
                                    as your IP address, the pages you visit, the browser you use, the websites you have
                                    previously visited, geographical data such as your website, your preferred language
                                    and the time and duration of your visit. We do this, for example, on the basis of
                                    cookies. See also question 5: Which cookies does EasyBid AUCTION use?

                                    This data is processed, as the case may be, on the basis of your unambiguous consent
                                    or on the basis of EasyBid AUCTION ’s justified interest in improving its websites
                                    and protecting them against cyber attacks, in particular.

                                    Internal processing of your customer data as a buyer or (potential) contributor.

                                    We process your data when you come to us in person, when you contact us by telephone
                                    or e-mail, or when you register on our website: https://www.EasyBid-auction.com. We
                                    also process your data if you register on the platform.

                                    To be able to verify your identity, you may be asked to send an email or scan a scan
                                    or photo of your ID card or passport. To enable us to offer our services, we process
                                    your address, surname, first name, full address, e-mail address(es), telephone
                                    number(s), preferred language. Possibly also your bank account number, bic code,
                                    billing address, billing email address, account number, company website, history of
                                    your consigned or purchased items, subscription data on printed catalogues. The
                                    necessary documents, such as invoices, expert reports, are sent by e-mail as
                                    standard with a PDF attachment. If you do not have a correct e-mail address, the
                                    documents are sent by post.</p>
                            </li>

                            <li>
                                <h3>Who has access to your personal data?
                                </h3>
                                <p>EasyBid AUCTION may share your data with other companies related to EasyBid AUCTION .
                                    In addition, EasyBid AUCTION uses third parties to perform certain (processing)
                                    activities such as hosting the website, administering mailing lists, building backup
                                    files or so-called ‘mirror’ servers. Personal data is not communicated to other
                                    parties, unless required by law or by a judicial warrant.
                                </p>
                            </li>

                            <li>
                                <h3>Which cookies are used by EasyBid AUCTION ?
                                </h3>
                                <p>Cookies are small text files that are placed by your browser. They contain
                                    information (such as the language preference of the visitor, first and last name and
                                    the ‘favourite lots’ of a sale) so that the visitor does not have to re-enter this
                                    information on a subsequent visit to the same website. Some cookies ensure that a
                                    website has a graphically pleasing appearance, others ensure that an application on
                                    the website functions correctly. If you wish to block cookies, you can do so via
                                    your browser settings:

                                    Internet cookie preferences

                                    Explorer Cookie preferences
                                    Firefox Cookie preferences
                                    Chrome Cookie preferences
                                    Safari Cookie preferences
                                    Please be aware that some graphics may not look good or that you may not be able to
                                    use certain applications if you delete cookies.

                                    EasyBid AUCTION uses different groups of cookies :

                                    Functional cookies: these make your visit to the website and your user experience
                                    easier and more personalised.
                                    Analytical (third-party) cookies: these collect information to evaluate and improve
                                    the content of our website (e.g. Google analytics cookies).
                                    These cookies collect information about your computer and your visit to our website,
                                    such as your IP address, the pages you visit, the browser you use, the websites you
                                    have previously visited, geographical data such as your website, your preferred
                                    language and the time and duration of your visit.
                                </p>
                            </li>


                            <li>
                                <h3>My Account
                                </h3>
                                <p>Through ‘My Account’ (by email address or code) several web pages will be
                                    personalised to improve the user experience.

                                    Save favourite batches
                                    Save the offers (telephone and purchase orders) that the user has filled in himself
                                    on the site or that he has transmitted to the administration of EasyBid AUCTION.
                                    Contact details: email address, the code used by EasyBid AUCTION
                                    Documents such as expert opinions, consignment documents, purchases, invoices, etc.,
                                    must be kept in a safe place.
                                    Condition reports (state of preservation, provenance, technical defects, etc.)
                                </p>
                            </li>
                            <li>
                                <h3>What about links to other websites and social media?
                                </h3>
                                <p>The EasyBid AUCTION website may contain references (e.g. via hyperlinks) to other
                                    websites that are offered by other companies or by social media. EasyBid AUCTION is
                                    not responsible for the processing of personal data via these websites. This privacy
                                    and cookie policy is also not applicable to these websites. If you share the content
                                    of the EasyBid AUCTION website via social media, your personal data will be visible
                                    to visitors of these social media. EasyBid AUCTION is not responsible for the
                                    processing of personal data via these social media. This privacy and cookie policy
                                    is also not applicable to these social media.
                                </p>
                            </li>
                            <li>
                                <h3>How are your personal data protected?
                                </h3>
                                <p>EasyBid AUCTION aims to protect your personal data as best as possible by means of
                                    technical and organisational measures, such as firewalls and protected servers. Only
                                    the most necessary personal data will be saved. The data will be interchanged with
                                    the intranet system of EasyBid AUCTION through a secure channel.
                                </p>
                            </li>
                            <li>
                                <h3>Who can you contact to exercise your rights?
                                </h3>
                                <p>You have the right to request free of charge access to your personal data processed
                                    by EasyBid AUCTION , to have them corrected or to object to their processing for
                                    direct marketing purposes. If the processing of your data is based on consent, you
                                    always have the right also to withdraw your authorisation, without this derogating
                                    from the legitimacy of the processing prior to the withdrawal of your authorisation.
                                    You can send the above requests by e-mail to info@EasyBid-auction.com or by post to
                                    the above address. EasyBid AUCTION cannot process your request without proof of your
                                    identity. </p>
                            </li>
                        </ol>

                        <p>If you have any <b>further questions or complaints</b> about this website or about this
                            privacy and
                            cookie policy, you can also contact <b> info@EasyBid-auction.com.</b> You have the right to
                            lodge a
                            complaint with a supervisory authority.</p>


                        <span>10 November 2022 @ 7:00 PM | <a href="#">0 Comment(s)</a> | Posted by <a
                                href="#">EasyBid.com</a></span>
                    </div>
                    <!--another post item-->
                    <!-- <div class="item">
                        <h1>Space fillers</h1>
                        <p>Donec non dui. Morbi fringilla imperdiet lorem. Fusce risus diam, rutrum eu, hendrerit et,
                            accumsan non, neque. Fusce vitae pede ut massa sodales mattis. Nulla sed justo. Integer nec
                            sem vel tellus tempor gravida. Pellentesque habitant morbi tristique senectus et netus et
                            malesuada fames ac turpis egestas. Nunc faucibus. Nullam nulla ipsum, accumsan sed, tempus
                            sed, adipiscing a, metus. Curabitur varius commodo eros.</p>
                        <span>17 March 2017 @ 6:24 PM | <a href="#">0 Comment(s)</a> | Posted by <a
                                href="#">webmasterneo</a></span>
                    </div> -->
                    <!--end of another post item-->
                </div>
                <!--end of content-->

            </div>
            <!--end of container-->

        </div>
        <!--end of body-->

        <!--start footer-->
        <div id="footer">
            <span class="left">2022 &copy; Copyright <a href="#">EasyBid.com</a>. All rights reserved.</span>
            <span class="right"><a href="#">Contact</a> | <a href="#">Site Map</a></span>
            <p class="show-footer">2022 &copy; Copyright <a href="#">EasyBid.com</a>. All rights reserved.<br /><a
                    href="#">Contact</a> | <a href="#">Site Map</a></p>
        </div>
        <!--end of footer-->

    </div>
    <!--end of wrapper-->

    <!--start credits-->
    <!--//Under CC-NC 3.0, this portion must be left intact and must not be hidden.//-->
    <div id="credits">
        <span><a href="#" title="Website By EasyBid Pvt.Limited.">Website Designed </a> by EasyBid Pvt.Limited
            <br />Licensed under <a rel="license" href="#">
                EasyBid Private Limited</a>.</span>
    </div>
    <!--end of credits-->

</body>
<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

    body {
        background: #101046;
        color: #111;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 18px;
        min-width: 600px;
    }

    h1 {
        font-size: 20px;
        line-height: 24px;
    }

    h2 {
        font-size: 18px;
        line-height: 22px;
    }

    h3 {
        font-size: 16px;
        line-height: 20px;
    }

    a {
        background-color: inherit;
        color: #996;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    blockquote {
        background-color: inherit;
        color: #999;
        font: italic 15px "Times New Roman", serif;
        border-left: 5px solid #996;
        padding: 2px 15px;
    }

    /* Wrapper Settings */
    #wrapper {
        background: rgb(241, 241, 225);
        border: none;
        padding: 10px;
        margin: 1% auto;
        width: 90%;
    }

    #body {
        margin: 0;
    }

    #container {
        padding: 0;
        margin: 0;
    }

    /* Other Settings*/

    #banner {
        position: relative;
        padding: 10px;
        height: 155px;
        border: 0px;
        color: #fff;
        background: #000036;

    }

    .img_logo {

        float: right;
        margin-top: 2%;
        margin-right: 2%;
        height: 100px;
        width: 250px;
    }

    .img_logo:hover {
        float: right;
        margin-top: 2%;
        margin-right: 1%;
        height: 110px;
        width: 275px;
    }

    .home {
        background-color: #000036;
        border-color: yellowgreen;
        font-size: 20px;
        margin-left: 10px;
        color: whitesmoke;
    }

    .home:hover {
        color: rgb(30, 255, 0);
    }

    #banner h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(245, 202, 202);
        font-size: 75px;
    }

    #banner h1 em {
        font-style: normal;
        text-decoration: none;
        color: #111;
    }

    #show-menu {
        display: none;
    }

    .responsive {
        background-color: inherit;
        color: #fff;
        text-align: left;
        font-weight: normal;
        font-size: 1.5em;
        padding: 0;
        position: absolute;
        top: 80%;
        display: none;
    }

    ul#topnav {
        list-style-type: none;
        margin: 0 0 0 1%;
        display: table;
        padding: 0;
        overflow: hidden;
        width: 60%;
        position: absolute;
        bottom: 0;
    }

    ul#topnav li {
        display: table-cell;
        text-align: center;
    }

    ul#topnav li a {
        background: rgb(51, 48, 48);
        color: #999;
        border: none;
        display: block;
        margin-right: 5px;
        padding: 5px 0px;
        text-decoration: none;
        font-size: 12px;
    }

    ul#topnav li a.active,
    ul#topnav li a.active:hover {
        background: #fff;
        color: #333;
    }

    ul#topnav li a:hover {
        background: rgb(27, 207, 3);
        color: #111;
    }

    #sidebar {
        background: #fff;
        float: right;
        width: 200px;
        margin: -175px 1% 50px auto;
        padding: 15px;
        font-size: 12px;
        -webkit-box-shadow: 25px 0px 25px -25px rgba(0, 0, 0, 0.45),
            -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 25px 0px 25px -25px rgba(0, 0, 0, 0.45),
            -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
        box-shadow: 25px 0px 25px -25px rgba(0, 0, 0, 0.45),
            -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
        position: relative;
    }

    #sidebar h2 {
        background-color: inherit;
        color: #996;
        font: normal 16px Arial, sans-serif;
        border-bottom: 2px solid #996;
        padding: 8px 0 5px 0;
    }

    #sidebar ul {
        list-style: none;
        padding: 2px;
        margin: 0;
    }

    #sidebar ul li {
        list-style-position: inside;
        padding: 0 0 10px 20px;
        text-indent: -1em;
    }

    #sidebar ul li a {
        background-color: inherit;
        color: #333;
        text-decoration: none;
        padding: 5px 2px;
        display: block;
    }

    #sidebar ul li a:hover {
        background-color: #cc9;
        color: #fff;
    }

    #sidebar ul li a:before {
        content: "\00BB  ";
        color: #996;
    }

    #content {
        background-color: rgb(241, 241, 225);
        font-family: cursive;
        text-align: left;
        padding: 20px;
        margin-left: 20px;
        margin-right: 45px;
    }

    #content h1 {
        font: normal 30px bold Arial, sans-serif;
        padding: 0;
    }

    #content ul {
        list-style: none;
    }

    #content ul li {
        padding: 2px 0 2px 10px;
        margin: 0;
    }

    #content ul li:before {
        content: "\00BB  ";
        color: #996;
    }

    #content .item {
        line-height: 1.25em;
        margin: 0;
    }

    #content .item p {
        text-align: justify;
    }

    #content .item span {
        background-color: inherit;
        color: #999;
        font-size: 11px;
    }

    #footer {
        padding: 10px;
        height: 20px;
        border: 0px;
        color: rgb(255, 255, 255);
        font-size: 12px;
        background: #04014b;
        clear: both;
    }

    #footer a {
        background-color: inherit;
        color: rgb(255, 252, 252);
    }

    #footer a:hover {
        background-color: inherit;
        color: #fff;
        text-decoration: none;
    }

    #footer span.left {
        text-align: left;
        padding-left: 15px;
        float: left;
    }

    #footer span.right {
        text-align: right;
        padding-right: 15px;
        float: right;
    }

    #footer p.show-footer {
        margin: 0;
        display: none;
    }

    #credits {
        width: 90%;
        background-color: inherit;
        color: rgb(255, 254, 254);
        position: relative;
        bottom: 0;
        padding: 10px 0;
        font: normal 11px Arial, sans-serif;
        text-align: right;
        margin: 0 auto;
    }

    #credits a {
        background-color: inherit;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    #credits a:hover {
        background-color: inherit;
        color: #fff;
        text-decoration: none;
    }

    /* Begin responsive styles */
    @media screen and (max-width : 700px) {

        body {
            font-size: 12px;
        }

        blockquote {
            font-size: 13px;
            border-left-width: 3px;
            padding: 1px 5px 1px 10px;
            margin: 0;
        }

        /* banner */
        /*#banner { height:170px;}*/
        #banner h1 {
            font-size: 28px;
        }

        #banner p {
            width: 60%;
        }

        /* menu */
        ul#topnav {
            display: none;
        }

        .responsive {
            display: block;
        }

        #show-menu:checked~ul#topnav {
            display: block;
            position: absolute;
            top: 100%;
            width: 50%;
            margin: 0 0 0 -8%;
            overflow: visible;
        }

        ul#topnav li {
            display: block;
            text-align: left;
            margin: 0 0 1px 15%;
        }

        ul#topnav li a {
            padding-left: 20px;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            font-size: 10px;
        }

        /*ul#topnav li a:hover { background: rgba(255,0,85,1); color:rgba(255,255,255,255);}*/
        ul#topnav li a.active,
        ul#topnav li a.active:hover {
            background: #eee;
            color: #000;
        }


        /* sidebar */
        #sidebar {
            width: 28%;
            padding: 5px;
            font-size: 10px;
            line-height: 1.25em;
        }

        #sidebar h2 {
            font-size: 12px;
        }

        /* content */
        #content {
            margin-right: 33%;
        }

        #content h1 {
            font-size: 14px;
            font-weight: bold;
        }

        #content .item span {
            font-size: 10px;
        }

        #content ul {
            margin-left: 0;
            padding-left: 0;
        }

        #content ul li {
            margin-left: 0;
            padding-left: 0;
        }


        /* footer */
        #footer {
            font-size: 10px;
            text-align: center;
            padding-bottom: 20px;
        }

        #footer span {
            display: none;
        }

        #footer p.show-footer {
            display: block;
        }

        #credits {
            font-size: 80%;
            text-align: center;
        }
    }
</style>

</html>