<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> EasyBid || Terms & Conditions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" lang="en" content="open source x/html and css templates">
    <meta name="author" content="mlp design">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <!--start wrapper-->
    <div id="wrapper">

        <!--start body-->
        <div id="body">
            <!--start header-->
            <div id="banner">
                <a href="index.html"><img class="img_logo" src="../public/images/other/logo3.png" alt=""></a>
                <h1>Terms & Conditions</h1>
                <!-- menu -->
                <label for="show-menu" class="responsive">&#9776;</label>
                <input type="checkbox" id="show-menu" role="button">
                <button class="home" onclick="window.location = '/'" >Home</button>

                <!-- end menu -->
            </div>
            <div class="clear"></div>
            <!--end of sidebar-->

            <!--start containter-->
            <div id="container">

                <!--start content-->
                <div id="content">
                    <!--post item-->
                    <div class="item">
                        <h1>* Terms and Conditions Of Auction</h1>
                        <p style="font-size: large; font-family:Verdana, Geneva, Tahoma, sans-serif;">Welcome to the
                            terms and conditions ("Terms") for EasyBid.com.</p>
                        <p style="font-size: Medium;text-indent: 3px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Our Website
                            Provides features and other products and services to you when
                            you visit or shop or sell or bid at EasyBid.com.By Using the EasyBid Services, you agree, on
                            the behalf of yourself and all
                            members of your household and other who use any Service under your account, to the following
                            conditions.
                            <h3>Please read these conditions carefully.</h3></p>

                        <ul>
                            <ol>
                                <h4>
                                    <li>The highest bidder for each lot shall be the purchaser thereof, and in the event
                                        of any dispute the Auctioneer shall have absolute discretion either to settle
                                        such dispute or to re-offer the lot immediately.</li>
                                </h4>
                                <h4>
                                    <li>The Auctioneer may, without giving any reason therefore, refuse to accept the
                                        bidding of any person or persons.
                                    </li>
                                </h4>
                                <h4>
                                    <li>No person may advance less at a bid than a sum to be named from time to time by
                                        the Auctioneers.
                                    </li>
                                </h4>
                                <h4>
                                    <li> The vendors may bid for any lot or lots and may withdraw any lot or lots,
                                        either personally or through the Auctioneer or through any other person, as many
                                        times as they respectively see fit.
                                    </li>
                                </h4>
                                <h4>
                                    <li>Intending purchasers shall give their name and address to the Auctioneer prior
                                        to the auction and shall pay into the hands of the Auctioneer a deposit in order
                                        to obtain a Buyer’s Number. If any purchaser fails to comply with any of the
                                        conditions the lot of lots in respect of which such failure is made may, if the
                                        Auctioneer thinks fit, be put up again and resold at any time. If upon such
                                        re-sale, a lower price is obtained for any such lots than was obtained on the
                                        first sale the difference in price shall be a debt due from the purchaser in
                                        default upon the first sale, no lot may be transferred.</li>
                                </h4>
                                <h4>
                                    <li>Care has been taken to ensure the accuracy of the catalogue but no sale shall be
                                        invalidated by reason of any defect of faults in any of the lots by reason of
                                        any of the lots being incorrectly described in the catalogue and no compensation
                                        shall be paid in result of any such faults or errors in description. The
                                        Auctioneers give no warranty as to the genuineness of authenticity of the goods
                                        and the purchaser shall accept every lot with all faults and errors of
                                        description.</li>
                                </h4>
                                <h4>
                                    <li>Each lot shall be at the purchaser’s risk from the fall of the hammer and must
                                        be paid for in full before collection and removed by the purchaser at their own
                                        expense and risk by 5pm the following working day after the relevant auction, in
                                        which the lot was purchased, has concluded. If any lot is not so taken away by
                                        the purchaser the vendor or the auctioneer shall be entitled at the risk of the
                                        purchaser to remove the same to any place of storage and shall not be
                                        responsible for any expense of such removal or storage or any damage or
                                        destruction or loss thereby occasioned. Furthermore, where goods by agreement
                                        are stored after a sale at the purchaser’s request on either the vendors or
                                        auctioneers’ premises, the items so stored will be entirely at the risk of the
                                        purchaser and no responsibility can be accepted by either the vendor or the
                                        auctioneers for loss, damage or destruction thereby arising. In addition to the
                                        above, fails to remove the lot from the premises as required, EasyBid Auctions
                                        reserve the right to re-enter the lot into auction and charge a Defaulter’s
                                        Entry Fee to the Buyer.</li>
                                </h4>
                                <h4>
                                    <li>All damage done to the premises at which the sale takes place or to lots or any
                                        part or parts thereof occasioned by such removal by the auctioneer under the
                                        last condition and all damage occasioned by a removal by the purchaser, shall be
                                        made good by the purchaser and principals shall be responsible for the acts of
                                        their servants and agents.
                                    </li>
                                </h4>
                                <h4>
                                    <li>Upon failure to apply with the above conditions, the money deposited in part
                                        payments shall be forfeited, he/she paying there-out all just expenses and the
                                        lot shall be resold by public or private sale and the deficiency (if any)
                                        arising upon the resale together with the expenses thereof shall be made good by
                                        the defaulter at this sale.
                                    </li>
                                </h4>
                                <h4>
                                    <li>In as much as EasyBid Auctions act only as agents, they shall not be responsible
                                        for any act or default of wither the purchaser of the vendor and in particular
                                        shall not be liable to pay the vender until payment is received from the
                                        purchaser.
                                    </li>
                                </h4>
                                <h4>
                                    <li> The auctioneers are prepared to accept commissions on behalf of the intending
                                        purchaser who are unable to attend a sale provided such commissions are given in
                                        writing, in which event they will be carried out free of charge to the intending
                                        purchaser. The auctioneers are not responsible for, nor are they in anyway
                                        connected with, commission to purchase lots given to any member of their staff
                                        other than by the auctioneer.
                                    </li>
                                </h4>
                                <h4>
                                    <li>Neither the vendor nor the auctioneer accepts responsibility for duties (if any)
                                        by the relevant Health & Safety Orders or Acts that apply or any other statutory
                                        provision and the buyer accepts responsibility for ensuring that the
                                        requirements of any such statutory provision are complied with.
                                    </li>
                                </h4>
                                <h4>
                                    <li>References to acts of parliament shall be deemed to include all acts, orders and
                                        statutory instruments enlarging, re-enacting or amending the same as in force
                                        from time to time.
                                    </li>
                                </h4>
                                <h4>
                                    <li>The purchaser of each lot shall with his purchase money pay auction commission
                                        with value added tax thereon at the appropriate rate.
                                    </li>
                                </h4>
                                <h4>
                                    <li>All purchases must be paid for in cash, bankers draft or electronic funds
                                        transfer. We also accept payments by Switch/Delta and Major Credit Cards
                                        (Excluding Telford & Queensferry branch).
                                    </li>
                                </h4>
                                <h4>
                                    <li>Where cheques issued in the Republic of Ireland are drawn for payment in
                                        sterling, these must be branded by the purchaser’s bank before presenting;
                                        otherwise they will not be acceptable.
                                    </li>
                                </h4>
                                <h4>
                                    <li>Since goods have been available for inspection by or on behalf of the purchaser
                                        prior to the sale, no warranty, condition, description or representation on the
                                        part of the vendor is given or implied; nor is any warranty, condition,
                                        description or representation to be taken to have been implied from anything
                                        said by or on behalf of the vendor prior to the sale. Any statutory or other
                                        warranty, condition or description expressed or implied as to the state, quality
                                        or fitness of the goods is hereby expressly excluded.
                                    </li>
                                </h4>
                                <h4>
                                    <li>EasyBid Auctions offer no guarantees as to the road-worthiness of any of the
                                        vehicles, or sea-worthiness of any of the vessels, made available for sale in
                                        this auction.
                                    </li>
                                </h4>
                                <h4>
                                    <li>Potential purchasers are advised to satisfy themselves as to the authenticity of
                                        any lot before bidding. Catalogue descriptions have been passed to EasyBid
                                        Auctions by the vendors or garnered from research carried out by EasyBid
                                        Auctions and should not be taken entirely accurate. EasyBid Auctions accept no
                                        liability for mileage input errors on MOT’s, MOT VOSA data base or VRM/NMR
                                        mileage register. It is the sole responsibility of the buyer / bidder to satisfy
                                        themselves of the accuracy of mileage recorded on any vehicle offered at
                                        auction.
                                    </li>
                                </h4>
                                <h4>
                                    <li>Commission will be payable by the vendor to the auctioneer as a result of
                                        incorrect description of the lot detailed by the vendor. Commission payable will
                                        be at the rate pertaining to the relevant auction.
                                    </li>
                                </h4>
                                <h4>
                                    <li>All purchasers are required to leave a deposit, at the rate set for that
                                        particular auction, prior to the auction to enable bidding and accept that
                                        EasyBid Auctions will debit a further 10% of the purchase price from the card
                                        details supplied at the fall of the hammer.
                                    </li>
                                </h4>
                                <h4>
                                    <li>Commission is payable on top if the purchase price and is subject to VAT at the
                                        current rate. Potential purchasers are advised to confirm the commission rate
                                        applicable to the auction in which they wish to participate. Confirmation of the
                                        applicable commission rate can be obtained from the EasyBid Auctions branch
                                        conducting the auction. Potential purchasers using the Live Bid facility should
                                        be aware that each purchase made will attract an ‘online buyer’s fee’ which will
                                        be charged at the prevailing rate. Please check with the relevant branch for the
                                        current rate before bidding.
                                    </li>
                                </h4>
                                <h4>
                                    <li>Foreign registered vehicles may incur onward registration fees. Potential
                                        purchasers of foreign registered vehicles are advised to ascertain in advance of
                                        the auction what paperwork is available with the vehicle in question and to
                                        satisfy themselves as to any potential future costs to register the vehicle. The
                                        auctioneer will not be held liable for any potential future issues involved with
                                        the registration of any vehicle.
                                    </li>
                                </h4>
                                <h4>
                                    <li>Registration for online bidding should be completed 24hrs prior to the
                                        commencement of the auction. The Auctioneers shall not be held responsible for
                                        any loss of communication or connection between a Bidders internet system and
                                        that of EasyBid Auctions Live Bid platform.
                                    </li>
                                </h4>
                                <h4>
                                    <li>“Caveat emptor – These goods being auctioned are second hand, unless stated
                                        otherwise. The government department/vendor who has listed the item claims no
                                        responsibility for the authenticity, commercial value or quality of any of the
                                        items. The working condition (unless stated otherwise) of these items are not
                                        determined and it is advised that all electrical items should be tested by a
                                        competent person prior to use. Where a description refers to stone’s ‘yellow’ or
                                        ‘white’ metal in respect of jewellery items then that should be taken to mean
                                        its substance is unknown.” The goods are second hand. The Sale of Goods Act does
                                        not apply and the Goods are being ‘Sold as Seen’.”
                                    </li>
                                </h4>
                                <h4>
                                    <li> Any representation or statement by the auctioneer in any catalogue, brochure or
                                        advertisement of forthcoming sales as to authorship, attribution, genuineness,
                                        authenticity, origin, date, age, provenance, condition or estimated selling
                                        price is a statement of opinion only.
                                    </li>
                                </h4>
                                <h4>
                                    <li>Goods may be sold ‘provisionally’ to a bidder by the auctioneer. A provisional
                                        bid is binding, pending acceptance by the vendor which the auctioneer will
                                        endeavour to obtain in a timely manner. A provisional bid may result in further
                                        negotiations on the bid price, conducted by the auctioneer, on behalf of the
                                        bidder and the vendor. A bidder may not retract a provisional bid without prior
                                        agreement with the auctioneer, as negotiations will be ongoing with the vendor.
                                        On acceptance of the provisional bid by the vendor the deposit paid by the
                                        bidder becomes a part payment and is non-refundable. The deposit paid by a
                                        bidder on a provisional bid may be returned or transferred to another Lot if the
                                        bid is not accepted by the vendor. Bidding on separate Lots while a prior
                                        provisional bid is pending may result in multiple Lots being won. A deposit at
                                        the current rate at the time of the auction is required from the bidder for each
                                        Lot bid thereon. The auctioneer reserves the right to transfer a deposit or part
                                        payment between Lots or divide a deposit or part payment between Lots as
                                        necessary.
                                    </li>
                                </h4>
                                <h4>
                                    <li>These Terms and Conditions shall be governed with effect to the Enabling Legislation and by the laws of Northern Ireland. Any disputes arising shall be dealt with by the Northern Irish courts.
                                    </li>
                                </h4>
                                <h4>
                                    <li>We can enforce any rights and obligations under this Contract even if there is a delay in doing so.
                                    </li>
                                </h4>
                                <h4>
                                    <li> If this Contract is found to be unenforceable in part by any court of law or other regulatory or competent body, this will not affect any other part of this Contract.
                                    </li>
                                </h4>

                            </ol>

                        </ul>

                        <br>
                        <span>
                            <!-- <h4> -->
                            <p>This version of the Terms and Conditions was modified on 10 November 2022.
                            </p>
                            <!-- </h4> -->
                        </span>
                        <hr>
                        <p>If you have any <b>further questions or complaints</b> about this website or about this
                            Terms and
                            Conditions, you can also contact <b> info@EasyBid-auction.com.</b> You have the right to
                            lodge a
                            complaint with a supervisory authority.</p>


                        <span>10 November 2022 @ 7:00 PM | <a href="#">0 Comment(s)</a> | Posted by <a
                                href="#">EasyBid.com</a></span>
                    </div>
                </div>
                <!--end of content-->

            </div>
            <!--end of container-->

        </div>
        <!--end of body-->

        <!--start footer-->
        <div id="footer">
            <span class="left">2022 &copy; Copyright <a href="#">EasyBid.com</a>. All rights reserved.</span>
            <span class="right"><a href="#">Contact</a> | <a href="#">Site Map</a></span>
            <p class="show-footer">2022 &copy; Copyright <a href="#">EasyBid.com</a>. All rights reserved.<br /><a
                    href="/contact">Contact</a> | <a href="#">Site Map</a></p>
        </div>
        <!--end of footer-->

    </div>
    <!--end of wrapper-->

    <!--start credits-->
    <!--//Under CC-NC 3.0, this portion must be left intact and must not be hidden.//-->
    <div id="credits">
        <span><a href="#" title="Website By EasyBid Pvt.Limited.">Website Designed </a> by EasyBid Pvt.Limited
            <br />Licensed under <a rel="license" href="#">
                EasyBid Private Limited</a>.</span>
    </div>
    <!--end of credits-->

</body>
<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

    body {
        background: #101046;
        color: #111;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 18px;
        min-width: 600px;
    }

    h1 {
        font-size: 20px;
        line-height: 24px;
    }

    h2 {
        font-size: 18px;
        line-height: 22px;
    }

    h3 {
        font-size: 16px;
        line-height: 20px;
    }

    a {
        background-color: inherit;
        color: #101046;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    blockquote {
        background-color: inherit;
        color: #999;
        font: italic 15px "Times New Roman", serif;
        border-left: 5px solid #996;
        padding: 2px 15px;
    }

    /* Wrapper Settings */
    #wrapper {
        background: rgb(241, 241, 225);
        border: none;
        padding: 10px;
        margin: 1% auto;
        width: 90%;
    }

    #body {
        margin: 0;
    }

    #container {
        padding: 0;
        margin: 0;
    }

    /* Other Settings*/

    #banner {
        position: relative;
        padding: 10px;
        height: 155px;
        border: 0px;
        color: #fff;
        background: #000036;

    }

    .img_logo {

        float: right;
        margin-top: 2%;
        margin-right: 2%;
        height: 100px;
        width: 250px;
    }

    .img_logo:hover {
        float: right;
        margin-top: 2%;
        margin-right: 1%;
        height: 110px;
        width: 275px;
    }

    .home {
        background-color: #000036;
        border-color: yellowgreen;
        font-size: 20px;
        margin-left: 10px;
        color: whitesmoke;
    }

    .home:hover {
        color: rgb(30, 255, 0);
    }

    #banner h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(245, 202, 202);
        font-size: 75px;
    }

    #banner h1 em {
        font-style: normal;
        text-decoration: none;
        color: #111;
    }

    #show-menu {
        display: none;
    }

    .responsive {
        background-color: inherit;
        color: #fff;
        text-align: left;
        font-weight: normal;
        font-size: 1.5em;
        padding: 0;
        position: absolute;
        top: 80%;
        display: none;
    }

    ul#topnav {
        list-style-type: none;
        margin: 0 0 0 1%;
        display: table;
        padding: 0;
        overflow: hidden;
        width: 60%;
        position: absolute;
        bottom: 0;
    }

    ul#topnav li {
        display: table-cell;
        text-align: center;
    }

    ul#topnav li a {
        background: rgb(51, 48, 48);
        color: #999;
        border: none;
        display: block;
        margin-right: 5px;
        padding: 5px 0px;
        text-decoration: none;
        font-size: 12px;
    }

    ul#topnav li a.active,
    ul#topnav li a.active:hover {
        background: #fff;
        color: #333;
    }

    ul#topnav li a:hover {
        background: rgb(27, 207, 3);
        color: #111;
    }

    #sidebar {
        background: #fff;
        float: right;
        width: 200px;
        margin: -175px 1% 50px auto;
        padding: 15px;
        font-size: 12px;
        -webkit-box-shadow: 25px 0px 25px -25px rgba(0, 0, 0, 0.45),
            -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 25px 0px 25px -25px rgba(0, 0, 0, 0.45),
            -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
        box-shadow: 25px 0px 25px -25px rgba(0, 0, 0, 0.45),
            -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
        position: relative;
    }

    #sidebar h2 {
        background-color: inherit;
        color: #996;
        font: normal 16px Arial, sans-serif;
        border-bottom: 2px solid #996;
        padding: 8px 0 5px 0;
    }

    #sidebar ul {
        list-style: none;
        padding: 2px;
        margin: 0;
    }

    #sidebar ul li {
        list-style-position: inside;
        padding: 0 0 10px 20px;
        text-indent: -1em;
    }

    #sidebar ul li a {
        background-color: inherit;
        color: #333;
        text-decoration: none;
        padding: 5px 2px;
        display: block;
    }

    #sidebar ul li a:hover {
        background-color: #cc9;
        color: #fff;
    }

    #sidebar ul li a:before {
        content: "\00BB  ";
        color: #996;
    }

    #content {
        background-color: rgb(241, 241, 225);
        font-family: cursive;
        text-align: left;
        padding: 20px;
        margin-left: 20px;
        margin-right: 45px;
    }

    #content h1 {
        font: normal 30px bold Arial, sans-serif;
        padding: 0;
    }

    #content ul {
        list-style: none;
    }

    #content ul li {
        font-weight: 500;
        font-size: 16px;
        padding: 2px 0 2px 10px;
        margin: 0;
    }

    #content ul li:before {
        content: "\00BB  ";
        color: #101046;
    }

    #content .item {
        line-height: 1.25em;
        margin: 0;
    }

    #content .item p {
        text-align: justify;
    }

    #content .item span {
        background-color: inherit;
        color: #999;
        font-size: 11px;
    }

    #footer {
        padding: 10px;
        height: 20px;
        border: 0px;
        color: rgb(255, 255, 255);
        font-size: 12px;
        background: #04014b;
        clear: both;
    }

    #footer a {
        background-color: inherit;
        color: rgb(255, 252, 252);
    }

    #footer a:hover {
        background-color: inherit;
        color: #fff;
        text-decoration: none;
    }

    #footer span.left {
        text-align: left;
        padding-left: 15px;
        float: left;
    }

    #footer span.right {
        text-align: right;
        padding-right: 15px;
        float: right;
    }

    #footer p.show-footer {
        margin: 0;
        display: none;
    }

    #credits {
        width: 90%;
        background-color: inherit;
        color: rgb(255, 254, 254);
        position: relative;
        bottom: 0;
        padding: 10px 0;
        font: normal 11px Arial, sans-serif;
        text-align: right;
        margin: 0 auto;
    }

    #credits a {
        background-color: inherit;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    #credits a:hover {
        background-color: inherit;
        color: #fff;
        text-decoration: none;
    }

    /* Begin responsive styles */
    @media screen and (max-width : 700px) {

        body {
            font-size: 12px;
        }

        blockquote {
            font-size: 13px;
            border-left-width: 3px;
            padding: 1px 5px 1px 10px;
            margin: 0;
        }

        /* banner */
        /*#banner { height:170px;}*/
        #banner h1 {
            font-size: 28px;
        }

        #banner p {
            width: 60%;
        }

        /* menu */
        ul#topnav {
            display: none;
        }

        .responsive {
            display: block;
        }

        #show-menu:checked~ul#topnav {
            display: block;
            position: absolute;
            top: 100%;
            width: 50%;
            margin: 0 0 0 -8%;
            overflow: visible;
        }

        ul#topnav li {
            display: block;
            text-align: left;
            margin: 0 0 1px 15%;
        }

        ul#topnav li a {
            padding-left: 20px;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            font-size: 10px;
        }

        /*ul#topnav li a:hover { background: rgba(255,0,85,1); color:rgba(255,255,255,255);}*/
        ul#topnav li a.active,
        ul#topnav li a.active:hover {
            background: #eee;
            color: #000;
        }


        /* sidebar */
        #sidebar {
            width: 28%;
            padding: 5px;
            font-size: 10px;
            line-height: 1.25em;
        }

        #sidebar h2 {
            font-size: 12px;
        }

        /* content */
        #content {
            margin-right: 33%;
        }

        #content h1 {
            font-size: 14px;
            font-weight: bold;
        }

        #content .item span {
            font-size: 10px;
        }

        #content ul {
            margin-left: 0;
            padding-left: 0;
        }

        #content ul li {
            margin-left: 0;
            padding-left: 0;
        }


        /* footer */
        #footer {
            font-size: 10px;
            text-align: center;
            padding-bottom: 20px;
        }

        #footer span {
            display: none;
        }

        #footer p.show-footer {
            display: block;
        }

        #credits {
            font-size: 80%;
            text-align: center;
        }
    }
</style>

</html>